page-login {

}

//h1{
//  font-family: 'Sedgwick Ave Display', cursive;
//}

.sample-logo{
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 30px;
  color: #007aff;
  text-align: center;

  margin-top: 25%;
  width: 100%;
}

.login-form{
  margin-top: 5%;
}
